@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
body {
  height: 100vh;
}
.headerImgContainer {
  background: url(assets/lady.jpg);
  margin: 30px;
  height: 600px;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.409);
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 0;
}

.headerImgContainer h1 {
  font-size: 4.7rem;
  font-weight: 300;
  color: white;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.255));
  margin-inline: 20px;
}
header .txt {
  margin: 32px;
}

header .txt h2 {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  margin-block: 20px;
}
header .txt p {
  font-family: "roboto", sans-serif;
  font-size: 1.9rem;
  opacity: 0.6;
  line-height: 50px;
  margin-block: 20px;
  margin-bottom: 40px;
}

header .icns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
header .icns i {
  font-size: 2rem;
  color: black;
}
header {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 100%;
  left: -100px;
  top: -850px;
  z-index: -1;
  transform: skewY(-30deg);
  background: #4cacc4;
}

section h2 {
  font-size: 3.2rem;
  font-weight: 300;
  text-align: center;
  margin-block: 20px;
}
.cardContainer {
  margin-inline: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 50px;
  margin-bottom: 200px;
}

.card {
  box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.268);
}

.cardImg {
  height: 400px;
  background-color: green;
  color: white;
  font-size: 4rem;
  text-align: center;
  align-content: center;
  padding: 20px;
}

.cardTxt {
  height: 250px;
  padding-inline: 30px;
  padding-block: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header h3 {
  font-size: 1.7rem;
  font-weight: 300;
}

.icnsCard {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.icnsCard i,
.icnsCard span {
  font-size: 2rem;
  color: black;
}

.card p {
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
  opacity: 0.5;
  padding-block: 10px;
}

.card:nth-child(1) .cardImg {
  background-color: plum;
}
.card:nth-child(2) .cardImg {
  background-color: orange;
}

.card:nth-child(3) .cardImg {
  background-color: green;
}

.card:nth-child(4) .cardImg {
  background-color: pink;
}

.card:nth-child(5) .cardImg {
  background-color: cyan;
}

.card:nth-child(6) .cardImg {
  background-color: greenyellow;
}

footer {
  background: #4cacc4;
  color: white;
}

footer h1 {
  padding: 20px;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 400;
}

footer h2 {
  padding: 20px;
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

footer p {
  padding-inline: 20px;
  font-size: 1.2rem;
  font-family: "roboto", sans-serif;
  padding-block: 5px;
}

.footerIcns i {
  font-size: 3rem;
  color: black;
}
.footerIcns {
  display: flex;
  gap: 40px;
  margin: 30px;
  justify-content: center;
}

footer img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .headerImgContainer {
    float: left;
    transform: scale(1.7);
    width: 250px;
    height: 300px;
    margin: 0;
    margin-right: 112px;
    margin-bottom: 112px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.316);
    position: relative;

    h1 {
      font-size: 2rem;
      margin: 0;
      position: absolute;
      left: 400px;
      top: 0;
      width: 400px;
    }
  }
  .txt {
    background-color: white;
    h2 {
      font-size: 2.2rem !important;
    }
    position: absolute;
    top: -200px;
  }
  .txt p {
    font-size: 1.5rem !important;
    line-height: 1.4 !important;
  }
  .txt {
    width: 85%;
    padding-block: 70px;
    padding-inline: 50px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.252);
  }
  header {
    margin-top: 500px;
    overflow: visible;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 800px;
  }
  .txt .icns {
    justify-content: flex-end;
  }
}
